<% layout("./layouts/boilerplate")%>
<div class="bubble rounded">
<h1>Classes People Are Taking Right Now</h1>
<ul>
    <% for(let mooc of moocs.reverse()) { %>
        <li class="li-item bubble"><a href="/moocs/<%= mooc.id %>"><img src="<%=mooc.image.url%>" alt="" height="50" width="50"></a><a href="/<%=mooc.submittedBy._id%>"><%=mooc.submittedBy.username %></a> is taking <a href="/moocs/<%= mooc.id %>"><%= mooc.name %></a></li>
    <% } %>
</ul>
</div>