<% layout("./layouts/boilerplate")%>
<div class="bubble rounded">
<h1><%= mooc.name %></h1>
<img src="<%=mooc.image.url%>" alt="" height="200" width="200">
<h2><%= mooc.instructors.length === 1 ? mooc.instructors[0] : mooc.instructors.join(', ') %></h2>
<h2>Hosted on <a href="<%=mooc.course_link%>"><%= mooc.hosting_site %></a></h2>
<p><%= mooc.description %></p>
<p>Topics covered:</p>
<ul>
    <% for(let topic of mooc.topics) { %>
        <li><%= topic %></li>
    <% } %>
</ul>
<p>Difficulty: <%= mooc.difficulty %></p>
<% if(!mooc.submittedBy.equals(user)) { %>
<p>Submitted By: <a href='/<%=mooc.submittedBy._id%>'><%= mooc.submittedBy.username  %></a></p>
<% } else { %>
<p>You submitted this class</p>
<% } %>
<a href="/moocs"><button class="btn btn-light" type="button">Go Back</button></a>
</div>

<% if(user && mooc.submittedBy.equals(user) ) {%>
<div class="bubble rounded">
<form action="/moocs/<%=mooc.id%>/delete?_method=DELETE" method="POST">
    <a href="/moocs/<%=mooc.id%>/edit"><button class="btn btn-light" type="button">Go to Edit Page</button></a>
    <button class="btn btn-danger" type="submit">Remove Class From List</button>
</form>
</div>
<% } %>
<hr>
<!-- REVIEW FORM -->

<%- include("../reviews/show") %>